
<!-- Example 9 -->
<p []>Highlight me!</p>
<p [myHighlight]="'violet'">
    Highlight me too!
</p>





<!-- Example 8 -->
<!-- <div (mousedown)="myMouseHandler($event, 'mouse down')"
(mouseup)="myMouseHandler($event, 'mouse up')">
    This area has<br />
    mouse-down<br />
    and<br />
    mouse-up<br />
    enabled.
</div> -->


<!-- Example 7 -->
<!-- <h1>
  Welcome to {{title}}!
  </h1>
  Cut from here:
  <input [(ngModel)]="myContent" type='text' (copy)="cutEvent(myContent)"><br /> Paste in here:
  <input type='text' [(ngModel)]="myPastedContent" (paste)="pasteContent(myPastedContent)"> -->




<!-- Example 6 -->
<!-- <h1>
  Welcome to {{title}}!
  </h1>
  <input type='text' (focus)="myFocusEvent('gainedFocus')"
  (blur)="myFocusEvent('lostFocus')"> -->



<!-- Example 5 -->
<!-- <h1>
  Welcome to {{title}}!
  </h1>
  <input type='text' (keydown)="myKeyDown($event)"> -->




<!-- Example 4 -->
<!-- <h1>
  Welcome to {{title}}!
  </h1>
  <input type="submit" value="my button" (mouseenter)="myMouseEnter()">
 -->